/* html and body */
html, body {
	font-family: 'Montserrat', sans-serif;
}

#navbar{
	z-index: 100;
}

/* First Chunk */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/slider/slider-overlay.png) repeat;
    
    /*z-index : 0;*/
}

header .carousel,
header .item,
header .active {
    height: 100%;
}

#header {
    margin-bottom: 6em;
}

@media (max-width: 768px) {
    #header {
        margin-bottom: 8.5em;
    }
}

.fill {
    width: 100%;
    height: 100%;
    min-height: 630px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#header {
    position: relative;
}
.carousel-inner {
	min-height: 500px;
    height: 100%;
}

.carousel-inner > .item > img {
    position: relative;
    width:100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel-control.left,
.carousel-control.right {
    background: none;
}

.carousel-caption h1 {
	text-transform: uppercase;
	font-size: 3em;
}

.carousel-caption p {
	font-size : 1.5em;
	padding-top: 40px;
	margin-bottom: 20px;
	font-weight: 300;
}

@media (min-width:768px) {
    .call-button {
        margin-bottom: 1.1em;
    }
}

/* icon bar */
.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

#post-carousel {
    background-color: #f64653;
    color: white;
    padding: 1em 0em;
    vertical-align: middle;
}

#post-carousel h4 {
    font-size: 1.5em;
    padding-top: 0.355em;
}
#portfolio {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1em 3em 1em 2em;
    font-size: 1.3em;
}

/* Second Chunk */
/*#section2 {
    margin-top: 6em;
}*/

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
